<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StaffSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <StaffSearch.Properties.Settings>
      <setting name="gate_time_offset" serializeAs="String">
        <value>MOWR228SG</value>
      </setting>
      <setting name="AmadeusName" serializeAs="String">
        <value>WSRUITPA</value>
      </setting>
      <setting name="AmadeusPass" serializeAs="String">
        <value>NHI/SFJnWDdxWSQj</value>
      </setting>
      <setting name="AmadeusPCI" serializeAs="String">
        <value>ATL1S2484</value>
      </setting>
      <setting name="AlexAmadeusName" serializeAs="String">
        <value>WSS7TS7T</value>
      </setting>
      <setting name="AlexAmadeusPass" serializeAs="String">
        <value>YTBHazhUMT0=</value>
      </setting>
      <setting name="AlexAmadeusPCI" serializeAs="String">
        <value>MOWR228SG</value>
      </setting>
      <setting name="AmplitudeUserID" serializeAs="String">
        <value>TicketAPI8033</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UrlProxy" serializeAs="String">
        <value>http://srv2.globalreservation.com:3128</value>
      </setting>
      <setting name="LogProxy" serializeAs="String">
        <value>staff_airlines</value>
      </setting>
      <setting name="ParProxy" serializeAs="String">
        <value>hZgWt4FrYcnVm9qD</value>
      </setting>
      <setting name="cache_time_offset_hour" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="AmountTokensForRequest" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server = localhost; Port = 5432; User Id = postgres; Password = 55555; Database = sae</value>
      </setting>
      <setting name="UrlApi" serializeAs="String">
        <value>http://dev-api.staffairlines.com:8033/api</value>
      </setting>
      <setting name="BotToken" serializeAs="String">
        <value>6906986784:AAGWHhFXFQ3YVyu_c0fdJ1v13Pwsn5nbmBg</value>
      </setting>
      <setting name="AgentControl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CacheUserNResult" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OutdatedAfter" serializeAs="String">
        <value>5</value>
      </setting>
    </StaffSearch.Properties.Settings>
  </userSettings>
</configuration>